body {
  font-family: "STC Forward Regular";
  .text-small {
    font-size: 13px;
    font-weight: 400;
    line-height: 16.95px;
  }
  .header-large {
    font-size: 32px;
    font-weight: 700;
    line-height: 38.4px;
  }
  .text-medium {
    font-size: 24px;
    font-weight: 400;
    line-height: 31.3px;
    color:$paragraph-color;
}

.text-th{
    
font-size: 20px;
font-weight: 700;
line-height: 24px;

}
    
  

 .text-small-medium{
    
  font-size: 16px;
  font-weight: 500;
  line-height: 19.2px;

  }



  .text-table{
    
font-size: 20px;
font-weight: 400;
line-height: 26.08px;


  }
  .text-nav{

    
font-size: 20px;
font-weight: 400;
line-height: 26.08px;



  }
}
